* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Black: rgba(31, 31, 31, 1);
  --gray: rgba(84, 84, 84, 1);
}
/* hero upper part */
.hero img {
  width: 486px;

  height: auto;
}
.first-img
{
    margin-left: 144px;
}
h1 {
  color: var(--Black);
}
.data p {
  color: var(--gray);
  max-width: 600px;
}
.num 
{
    color: var(--gray);
}

/* Our service */
.services
{
    max-width: 90%;
        margin: 0px auto;
}
.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
}

.section-title hr {
  width: 50px;
  border: 1.5px solid #000;
}

.section-title h2 {
  
  font-weight: bold;
}

.services-list 
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
}
.service
{
     display: flex;
    justify-content: center;
     gap: 12px; 
}
.service >div 
{
    max-width: 300px;
}
/* third section  */
.accordion-item {
  border: none;
}

.accordion-button {
  border: none;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  background-color: transparent; 
}

.accordion-body {
  border-top: none;
}
 /* fourth */
 .fourth img 
 {
    max-height: 600px;
 }

 /* fifth */
  .testimonial-card {
      background-color: rgba(31, 31, 31, 1);
      color: #fff;
      padding: 30px;
      border-radius: 10px;
    }
    .testimonial-card .quote {
      font-size: 2rem;
      color: #ccc;
    }
    .profile {
      display: flex;
      align-items: center;
      margin-top: 20px;
    }
    .profile img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 15px;
    }
    .testimonial-wrapper {
      gap: 20px;
    }
    /* footer  */
    .footer {
   background-color: rgb(31 31 31 / 91%); 

  color: #fff;
  padding: 60px 40px 30px;
  position: relative;

}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-left {
  max-width: 250px;
}

.footer-left .brand {
  font-weight: bold;
  font-size: 22px;
}

.footer-left p {
  font-size: 14px;
  margin: 10px 0 15px;
}
footer a
{
  color: #fff;
  text-decoration: none;
}
.social-icons a {

  margin-right: 10px;
  font-size: 20px;

}

.footer-links h4 {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 600;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
  font-size: 14px;
}

.footer-links a {
  color: #ccc;
  text-decoration: none;
}

.footer-links a:hover {
  color: #fff;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin: 1%;
}

.subscribe-form input {
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 5px 0 0 5px;
  width: 300px;
  background: #fff;
  color: #000;
  font-size: 14px;
}

.subscribe-form button {
  padding: 10px 20px;
  border: none;
  background-color: #000;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  border-radius: 0 5px 5px 0;

}

